<h3>View Employee</h3>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <label for="id">ID: <b>{{employee.id}}</b></label>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">First Name:</h5>
        <p class="card-text"><b>{{employee.first_name}}</b></p> -->
        <label for="fName">First Name: <b>{{employee.first_name}}</b></label>
    </div >
    <div class="card-body">
        <label for="lName">Last Name: <b>{{employee.last_name}}</b></label>
    </div>
    <div class="card-body">
        <label for="salary">Salary: <b>{{employee.salary}}</b></label>
    </div>
</div>
